
<div class="zoom_place">
  <div class="zoom_place-button" (click)="zoomAction(true)">+</div>
  <div class="zoom_place-button" (click)="zoomAction(false)">-</div>
</div>
<div id="map" style="height:500px; width:80%; float: left;overflow: hidden;">
  <canvas id="c"></canvas>
</div>
<div style="float: right; width:18%;">
  <div *ngIf="!selectedDrawPie">Tạo hoặc chọn khu vực</div>
  <div *ngIf="selectedDrawPie">
    <div>Name: {{selectedDrawPie.id}}</div>
    <div style="width: 100%;overflow: auto;">Các Tọa Độ:{{ selectedDrawPie.bounds }}</div>
    <div class="form-group">
      <label>Dự án:</label>
      <select class="form-control" id="direction" [(ngModel)]="selectedDrawPie.slot.productId" (change)="loadSlot(selectedDrawPie.slot.productId)">
        <option value=""></option>
        <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
      </select>
    </div>
    <div>
      <div class="form-group">
        <label>Đánh dấu với lô:</label>
        <select class="form-control" id="direction" [(ngModel)]="selectedDrawPie.slotId" (change)="findSlot(selectedDrawPie.slotId)">
          <option value=""></option>
          <option *ngFor="let slot of slots" value="{{slot.id}}">{{slot.name}}</option>
        </select>
      </div>
      <div *ngIf="selectedDrawPie.slot">
        <div>Tên: {{selectedDrawPie.slot.name}}</div>
        <div>Hướng: {{ selectedDrawPie.slot.direction }}</div>
        <div>Dài: {{ selectedDrawPie.slot.longInMeter }} m</div>
        <div>Rộng: {{ selectedDrawPie.slot.widthInMeter }} m</div>
        <div>Diện Tích: {{ selectedDrawPie.slot.widthInMeter * selectedDrawPie.slot.longInMeter }} m2</div>
        <div>Đường: {{ selectedDrawPie.slot.widthOfStreetInMeter }} m</div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)='save()'>Lưu</button>
      <button *ngIf="selectedDrawPie.id>0" type="button" class="btn btn-danger" (click)='delete()'>Xóa</button>
      <button *ngIf="selectedDrawPie.id==0" type="button" class="btn btn-danger" (click)='cancel()'>Bỏ Qua</button>
    </div>
  </div>
  <div *ngIf="!polygonMode">
    <button type="button" class="btn btn-success" (click)='create()'>Tạo Mới</button>
  </div>
</div>
